$black-color: #222222;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$pink-cololor-button: #E05C6E;
$product-button-all: #FF6A6A;
$gray-color: #F8F8F8;
$white-color: #ffffff;
$gray-link-menu-color: #6F6E6E;
$white-color-subscribe: #E1E1E1;
$smoky-color: #fbfbfb;
$header-button-color: #E8E8E8;
$registration-banner-color: #F8F3F4;
$registration-text-color: #B1B1B1;
$product-button-color:#cccccc5c;
$products-item-color:#9F9F9F;
$footer-text:#222224;
$product-button:rgba(58, 56, 56, 0.55);