.promotions__list {
    margin: 0 0 63px;
}

.promotions__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promotions__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.promotions__item-link {
    text-decoration: none;
}

.promotions__item--woman {
    background-image: url("../img/promotions-woman2.jpg");
    background-size: cover;
}

.promotions__item--man {
    background-image: url("../img/promotions-man2.jpg");
    background-size: cover;
}

.promotions__item--kids {
    background-image: url("../img/promotions-kids3.jpg");
    background-size: cover;
}

.promotions__item--accesories {
    background-image: url("../img/promotions-accesories2.jpg");
    background-size: cover;
    width: 100%;
}

.promotions__title {
    @include font(16px, 19px, 400);
    text-align: center;
    color: $white-color;
}

.promotions__text {
    color: $dark-pink-color;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}