.product__header-title {
    height: 148px;
    background: $registration-banner-color;
    margin-bottom: 64px;
    display: flex;
    align-items: baseline;
}

.product__header-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product__title {
    color: $dark-pink-color;
    text-transform: uppercase;
    padding: 59px 0 0 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.product__breadcrumbs {
    color: $gray-link-menu-color;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.product__breadcrumbs-arrivals {
    color: $dark-pink-color;
}


.product__banner {
    position: relative;
    z-index: 0;
}

.w-100 {
    height: 777px;
}
.product__main{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.product__main-collection {
    top: -50px;
    width: 1140px;
    position: relative;
    height: 601px;
    display: flex;
    z-index: 1;
    border: 1px solid $cart-items-border-quantity;
}