.product__header-title {
    height: 148px;
    background: $registration-banner-color;
    margin-bottom: 64px;
    display: flex;
    align-items: baseline;
}


.product__title {
    color: $dark-pink-color;
    text-transform: uppercase;
    padding: 59px 0 0 0px;
}

.product__breadcrumbs {
    color: $gray-link-menu-color;
    text-transform: uppercase;
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
}

.product__breadcrumbs-arrivals {
    color: $dark-pink-color;
}