.product__header-title {
    height: 148px;
    background: $registration-banner-color;
    margin-bottom: 64px;
}


.product__title {
    color: $dark-pink-color;
    text-transform: uppercase;
    padding: 59px 0 0 0px;
}